<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <title>Корзина</title>
</head>
<body>
<header th:replace="navbar"></header>
<h2>Корзина:</h2>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Название товара</th>
            <th>Количество</th>
            <th>Цена за единицу товара</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.getProduct().name}"></td>
            <td th:text="${cartItem.getQuantity()}"></td>
            <td th:text="${cartItem.getProduct().price}"></td>
            <td>
                <form th:action="@{/increase}" th:method="get">
                    <div class="d-flex align-items-center">
                        <form th:action="@{/increase}" th:method="get">
                            <button type="submit" class="btn btn-outline-primary btn-sm mx-1">+</button>
                            <input type="hidden" name="cartItemId" th:value="${cartItem.getId()}">
                        </form>
                        <form th:action="@{/decrease}" th:method="get">
                            <button type="submit" class="btn btn-outline-primary btn-sm mx-1">-</button>
                            <input type="hidden" name="cartItemId" th:value="${cartItem.getId()}">
                        </form>
                        <form th:action="@{/removeItem}" th:method="get">
                            <button type="submit" class="btn btn-danger btn-sm mx-1">Удалить из корзины</button>
                            <input type="hidden" name="cartItemId" th:value="${cartItem.getId()}">
                        </form>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="1" class="text-right"><strong>Итого:</strong></td>
            <td th:text="${totalAmount}"></td>
            <td th:text="${totalPrice}"></td>
            <td><form th:action="@{/removeAllItems}" th:method="get">
                <button type="submit" class="btn btn-danger btn-sm mx-1">Удалить все товары</button>
            </form></td>
        </tr>
        </tfoot>
    </table>
</div>
<div class="container">
    <div class="d-flex flex-row mb-3">
        <div class="col-md-6">
            <div class="card-body">
                <form th:action="@{/product/list}">
                    <button type="submit" class="btn btn-secondary">Назад</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex flex-row mb-4">
        <div class="col-md-7">
            <form th:action="@{/make_order}" method="post">
                <input type="text" name="address"  th:value="${address}" placeholder="Адрес доставки" required>
                <button type="submit" class="btn btn-success">Оформить заказ</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

