<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show product with options and values</title>
</head>
<body>
<div class="container">
    <form method="get" th:action="@{product/show}">
        <input type="hidden" name="productId" th:value="${product.id}">
        <p><b>Категория</b></p>
        <p th:text="${product.getCategory.getName}"></p>
        <p><b>Наименование</b></p>
        <p th:text="${product.getName}"></p>
        <p><b>Цена</b></p>
        <p th:text="${product.getPrice}"></p>
        <p><b>Характеристики</b></p>
        <div th:each="value : ${values}">
        <p th:text="${value.getOption()} + ' - ' + ${value.getValue()}"></p>
        </div>
    </form>
</div>

</body>
</html>