<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <title>Show product with options and values</title>
</head>
<body>
<header th:replace="navbar"></header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 th:text="${product.getName()}"></h3>
            <form method="get" th:action="@{/product/show}">
                <input type="hidden" name="productId" th:value="${product.id}">
                <div class="mb-3">
                    <label class="form-label">Характеристики:</label>
                    <ul class="list-group">
                        <th:block th:each="value : ${values}">
                            <li class="list-group-item"
                                th:text="${value.getOption()} + ' - ' + ${value.getValue()}"></li>
                        </th:block>
                    </ul>
                </div>
                <div class="mb-3">
                    <span class="form-label">Средняя оценка</span>
                    <span th:text="${@feedbackService.getAverageFeedbackScore(product.getId())}"></span>
                </div>
            </form>
            <div class="all_feedbacks">
                <div class="row">
                    <form th:action="@{/delete_feedback}" method="get">
                        <span>Все отзывы о данном товаре:</span>
                        <div th:each="feedback : ${feedbacks}" th:if="${feedback.isPublished()}">
                            <input type="hidden" name="feedbackId" th:value="${feedback.id}">
                            <input type="hidden" name="productId" th:value="${product.id}">
                            <em><label th:text="${feedback.getUser().getLogin() + ':'}"></label></em>
                            <span th:text="${feedback.getTextFeedback() + ' - ' + feedback.getScoreFeedback()}"></span>
                            <button th:if="${#authorization.expr('hasRole(''admin'')')}" type="submit">Удалить отзыв
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6" th:if="${!@feedbackService.isFeedbackExist(product.getId())}">
            <h3>Отзыв</h3>
            <form method="post" th:action="@{/leave_feedback}">
                <input type="hidden" name="productId" th:value="${product.id}">
                <div class="mb-3">
                    <label class="form-label">Ваш отзыв:</label>
                    <textarea class="form-control" name="textFeedback"
                              placeholder="Введите ваш комментарий"
                              style="resize: vertical"
                              required></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Оценка:</label>
                    <input type="number" class="form-control" name="score"
                           th:value="${feedback != null ? feedback.getScoreFeedback() : ''}"
                           placeholder="Введите оценку"
                           required min="1" max="5">
                </div>
                <button type="submit" class="btn btn-primary">Отправить отзыв</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
